<h1>Happy Birthday (name_placeholder)!!!</h1>
<br>

<h2><%= @collection.date.to_formatted_s(:long_ordinal)[/[^,]+/]%> is the day!</h2>
<br>

<h4>Events</h4>
<% @collection.wiki_event_items.each do |attr| %>
  <%= "#{attr.event.gsub!("&ndash;",":")[0...-2]}" %><br>
<% end %>
<br>
<h4>Significant Births</h4>
<% @collection.wiki_birth_items.each do |attr| %>
  <%= "#{attr.birth.gsub!("&ndash;",":")[0...-2]}" %><br>
<% end %>
<br>
<h4>Holidays and Observances</h4>
<% @collection.wiki_holiday_items.each do |attr| %>
  <%= "#{attr.holiday[0...-2]}" %><br>
<% end %>


<% #----- NEWS_ITEMS %>
<h4>The Day's Top Headlines</h4>
	<ul>
		<% @collection.news_items.each do |news_item| %>
			<li><%= "#{news_item.headline}: #{news_item.snippet}, #{news_item.link}" %></li>
		<% end %>
	</ul>
<br>

<% #----- GIPHYS %>
<div>
	<iframe src="//giphy.com/embed/7JsQ5EQTZlgHe?html5=true" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<video autoplay loop>
	  <source src=<%= @collection.giphy_items.first.api_call %> />
	</video>

	<video autoplay loop>
	  <source src=<%= @collection.giphy_items.first.api_call %> />
	</video>

	<video autoplay loop>
	  <source src=<%= @collection.giphy_items.first.api_call %> />
	</video>

	<iframe src="//giphy.com/embed/tnD8af8doAk1O?html5=true" width="480" height="361" frameBorder="0" webkitAllowFullScreen     mozallowfullscreen allowFullScreen></iframe>

</div>

<% #----- SEND_EMAIL %>
<div>

	<%= form_for(@collection, url: "/collections/#{@collection.id}/send_email", html: {method: "post"}) do |f| %> 
		<%= f.label :to_name,  "Whose day is it? Enter their name here." %>
		<%= f.text_field :to_name %><br>

		<%= f.label :to_email, :value => "What e-mail should we send it to?" %>
		<%= f.text_field :to_email %><br>

		<%= f.label :from_name, :value => "What is your name?" %>
		<%= f.text_field :from_name %><br>

		<%= f.label :from_email, :value => "What is your e-mail address?" %>
		<%= f.text_field :from_email %><br>

		<%= f.submit "Send E-mail!" %>
	<% end %>
	
</div>