<h1>Happy Birthday (name_placeholder)!!!</h1>
<br>

<h2><%= @collection.date.to_formatted_s(:long_ordinal)[/[^,]+/]%> is the day!</h2>
<br>

<ul>
	<% @collection.news_items.each do |news_item| %>
		<li><%= "#{news_item.headline}: #{news_item.snippet}, #{news_item.link}" %></li>
	<% end %>
</ul>

<% @collection.wiki_items.each do |wiki_item| %>
  <% 3.times do %>
    <p><%= wiki_item.api_call %><p>
  <%end%>
<%end%>
<br>

<iframe src="//giphy.com/embed/7JsQ5EQTZlgHe?html5=true" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<video autoplay loop>
  <source src=<%= @collection.giphy_items.first.api_call %> />
</video>

<video autoplay loop>
  <source src=<%= @collection.giphy_items.first.api_call %> />
</video>

<video autoplay loop>
  <source src=<%= @collection.giphy_items.first.api_call %> />
</video>

<iframe src="//giphy.com/embed/tnD8af8doAk1O?html5=true" width="480" height="361" frameBorder="0" webkitAllowFullScreen     mozallowfullscreen allowFullScreen></iframe>



<video autoplay loop>
  <source src=<%= @collection.giphy_items.first.api_call %> />
</video>