<div class="balloons-background-image"></div>


<div class="smallertron">
  <h1>Happy Birthday <%="#{@collection.to_name.titleize}"%>!!!!!!</h1>
</div>
<br>
<div class="date-box">
  <h3><%= @collection.date.to_formatted_s(:long_ordinal)[/[^,]+/]%> is the day!</h3>
</div>

<% if flash[:notice] %>
    <div class="notice-box"><h3><strong><%= flash[:notice] %></strong></h3></div>
<% end %>



<div class='refresh-box'>
<%= link_to "Click to reload new events, births and holidays!", collections_path(:collection => {:to_name => @collection.to_name, :date => @collection.date}), :method => "POST", :class => "btn btn-primary" %>r
</div>

<div class="events-box">
  <h3><strong>Events</strong></h3>
    <ul>
      <% @collection.wiki_event_items.each do |attr| %>
      <% if attr.event.gsub("&ndash;",":") %>
          <li><h4><%= attr.event.gsub("&ndash;",":")[0...-2] %></h4></li>
          <% end %>
      <% end %>
    </ul>
</div>
<br>

<div class="births-box">
<h3><strong>Significant Births</strong></h3>
  <ul>
    <% @collection.wiki_birth_items.each do |attr| %>
    <% if attr.birth.gsub("&ndash;",":") %>
      <li><h4><%= attr.birth.gsub("&ndash;",":")[0...-2] %></h4></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="form-box">

  <%= form_for(@collection, url: "/collections/#{@collection.id}/send_email", html: {method: "post"}) do |f| %> 
    <%= f.label :to_name,  "Whose day is it? Enter their name here." %>
    <%= f.text_field :to_name %><br>

    <%= f.label :to_email, :value => "What e-mail should we send it to?" %>
    <%= f.text_field :to_email %><br>

    <%= f.label :from_name, :value => "What is your name?" %>
    <%= f.text_field :from_name %><br>

    <%= f.label :from_email, :value => "What is your e-mail address?" %>
    <%= f.text_field :from_email %><br>

    <%= f.submit "Send E-mail!", :class => "btn btn-primary" %>
  <% end %>
  
</div>
<br>
<div class="first-giphy-box">
  <iframe src="//giphy.com/embed/tnD8af8doAk1O?html5=true" width="420" height="301" frameBorder="0" webkitAllowFullScreen     mozallowfullscreen allowFullScreen></iframe>
</div>
<br>

<div class="holidays-box">
<h3><strong>Holidays and Observances</strong></h3>
<ul>
<% @collection.wiki_holiday_items.each do |attr| %>
  <li><h4><%= "#{attr.holiday[0...-2]}" %></h4></li>
<% end %>

</ul>
</div>
<br>
<br>
<br>

<div class="events-box">
<h2>New York Times headlines from the day you were born!</h2>
<br>
<ul>
	<% @collection.news_items.each do |news_item| %>
		<li><h4><strong><%= "#{news_item.headline}" %></strong>:</h4> <h5><%="#{news_item.snippet}" %></h5><h5><a href= "<%"#{news_item.link.html_safe}"%>"><p><%="#{news_item.link.html_safe}"%></a></h5></li><br><p>
	<% end %>
</ul>
</div>
<br>

<div class="gif-smallertron">
  <h1>MORE GIPHY'S!!!!</h1>
</div>

<div class="left-giphy-box">
  <iframe src="//giphy.com/embed/7JsQ5EQTZlgHe?html5=true" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div class="right-giphy-box">
  <video autoplay loop>
    <source src= <%= @collection.giphy_items.first.api_call %> >
  </video>
</div>
<div class="left-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %>>
  </video>
</div>
<div class="right-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %>>
  </video>
</div>
<div class="left-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %>>
  </video>
</div>
<div class="right-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %>>
  </video>
</div>
<div class="left-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %>>
  </video>
</div>
<div class="right-giphy-box">
  <video autoplay loop>
    <source src=<%= @collection.giphy_items.first.api_call %> />
  </video>
</div>


<!-- @collection.giphy_items.first.api_call -->
