Hey.


<!-- 
<h1>Happy Birthday from <%= #@collection.date %>!</h1>

<h3>Dear you,</h3>

	<p><%= #@collection.date %> sent you a gift! Click this link Happy Birthday, <%= #@collection.date %></a> to see the custom birthday message!</p>
 -->
<!-- <body>
	<h1>Happy Birthday from <%= @collection.giver_name %>!</h1>
	<h3>Dear <%= @collection.rec_name %>,</h3>
	<p><%= @collection.giver_name %> sent you a gift! Click this link <a href="#{@collection.url}">Happy Birthday, <%= @collection.giver_name %></a> to see the custom birthday message!</p>
</body>
</html> -->